{% extends "base.html" %}
{% block title %}Бронирование{% endblock %}

{% block main_block %}
<h1 style="text-align: center">Бронирование</h1>
{% for book in object_list %}
    <div class="main_block_elem">
        <h2>{{ book.user.last_name }} {{ book.user.first_name }} - {{ book.plane.name }}</h2>
        Дата: {{ book.departure_date }}<br>
        Стоимость: {{ book.price }}
    </div>
{%  empty %}
    <div class="main_block_elem">
        <h2>Пока ни одной брони</h2>
    </div>
{% endfor %}
{% endblock %}
